- name: Install Desktop on {{ansible_os_family}}
  include: "{{ansible_os_family}}.yml"

- name: Install VNC server and configure it
  include: vnc.yml

- name: Install remote xrdp server 
  include: remote.yml
  when: os_connection == 'remote'

- name: Install Web GUI tool
  include: cockpit.yml
  when: os_webgui == "cockpit"
